.Cards {
  width: 1000px;
  margin: auto;
  text-align: center;
}

.Card {
  width: 202px;
  display: inline-block;
  vertical-align: top;
  border:1px solid #b0b1b2;
  margin: 20px 23px;
  height: 150px;
  border-radius: 5px;
}

.CardTitle {
  font-size: 24px;
  padding: 10px 0px;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 1px;
}

.CardContainer {
  width: 100%;
}

.CardIcon {
  width: 30%;
  text-align: center;
  position: relative;
  margin-top: 5px;
  margin-right:2%;
    display:inline;

}

.CardIcon img {
  display: block;
  margin: auto;
}

.CardContent {
  float: left;
  width: 70%;
  margin-top: 10px;
}
