.Cards {
  width: 1000px;
  margin: auto;
}

.Card {
  width: 290px;
  display: inline-block;
  vertical-align: top;
  border:1px solid black;
  margin: 10px 20px;
  height: 170px;
  border-radius: 5px;
}

.CardTitle {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0px;
  display: inline-block;
  text-align: center;
  width: 100%;
}

.CardContainer {
  width: 100%;
}

.CardIcon {
  float: left;
  width: 30%;
  position: relative;
  margin-top: 30px;
}

.CardIcon img {
  display: block;
  margin: auto;
}

.CardContent {
  float: left;
  width: 70%;
  margin-top: 10px;
}
