.PopupExit {
  position: absolute;
  top: 0;
  left: 0;
  padding: 8px;
  width: 20px;
  height: 20px;
  font-weight: bolder;
  cursor: pointer;
  font-size: 24px;
}

.Popup {
  position: absolute;
  width: 100%;
  min-height: 900px;
  top: 0;
  background-color: rgba(0,0,0, 0.5);
}

.PopupInner {
  position: relative;
  width: 600px;
  height: 700px;
  margin: 20px auto;
  background: white;
}

.PopupInner h1 {
  padding: 30px;
  margin: 0;
}

.PopupInner h2 {
  margin: 0;
  color: red;
}

.PopupInner h3 {
  margin: 0;
}

.PopupInner form {
  padding: 30px 60px;
  margin: 30px;
  border: 1px solid #d3d3d3;
  border-radius: 10px;
}

.ContactInput {
  font-weight: bold;
  font-size: 18px;
  color: #002663;
  text-align: left;
  height: 30px;
  padding: 5px;
  margin: 2px;
}

.ContactInput input {
  width: 70%;
  float: right;
  font-size: 18px;
}

.ContactInput span {
  display: block;
  width: 25%;
  float: left;
  margin-top: 4px;
}

.ContactSummary {
  height: 108px;
}

.ContactSummary textarea {
  width: 69.5%;
  float: right;
  font-size: 18px;
  height: 100px;
  resize: none;
  font-family: "arial";
}

.ContactUrgencyInput {
  width: 24%;
  float: right;
  display: block;
  text-align: left;
  padding-top: 5px;
}

.ContactUrgencyInput input {
  float: left;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 20px;
}

.ContactUrgencyInput span  {
  margin: 0;
  padding: 0;
}

.ContactTimeInput {
  width: 72%;
  text-align: left;
  float: left;
  display: block;
  padding-top: 5px;
  padding-bottom: 8px;
  padding-left: 11px;
}

.ContactTimeInput input {
  float: left;
  margin: 5px 0;
  padding: 0;
  width: 30px;
  height: 20px;
}

.ContactTimeInput span {
  margin: 5px 0;
  padding: 0;
  float: left;

}

.ContactTimePicker input {
  width: 100px;
  margin: 0;
  padding: 0;
}
