.DrilldownCards {
  width: 1000px;
  margin: 0 auto;
}

.DrilldownCard {
  width: 285px;
  display: inline-block;
  vertical-align: top;
  border:1px solid #b0b1b2;
  margin: 20px 23px;
  height: 150px;
  border-radius: 5px;
  position: relative;
}

.DrilldownCardContainer {
  margin-top: 10px;
}

.DrilldownCardIcon {
  text-align: center;
  position: relative;
  margin-top: 0;
    display:inline;

}

.DrilldownCardIcon img {
  display: block;
  margin: auto;
}

.DrilldownCardContent {
  float: left;
  white-space: wrap;
  padding: 10px;
  font-size: 18px;
  text-align: center;
  width: 265px;
  bottom: 0;
  position: absolute;
}
