.DrilldownCards {
  width: 1000px;
  margin: auto;
}

.DrilldownCard {
  width: 200px;
  display: inline-block;
  vertical-align: top;
  border:1px solid #b0b1b2;
  margin: 20px 23px;
  height: 120px;
  border-radius: 5px;
}

.DrilldownCardTitle {
  font-size: 24px;
  padding: 10px 0px;
  display: inline-block;
  text-align: center;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 32px;
  margin: 0 0 1px;
}

.DrilldownCardContainer {
  width: 100%;
}

.DrilldownCardIcon {
  width: 30%;
  text-align: center;
  position: relative;
  margin-top: 10px;
  margin-right:2%;
    display:inline;

}

.DrilldownCardIcon img {
  display: block;
  margin: auto;
}

.DrilldownCardContent {
  float: right;
  width: 70%;
  margin-top: 10px;
  white-space: wrap;
}
