.Script {
  margin: 0 auto;
  border:0.5px solid grey;
  width: 790px;
  font-family: Helvetica, sans-serif;
  line-height: 50px;
}

.ScriptExit {
  margin: 0 auto;
  width: 790px;
  font-size: 24px;
  font-weight: bolder;
  text-decoration: none;
}

a {
  text-decoration: none;
}
