.Header {
  text-align: center;
  color: #002663;
}

.Footer {
  text-align: center;
}

.Tutorial {
  text-align: center;
  font-size:small;
}

.Searchbar {
  margin-left: auto;
  margin-right: auto;
  width: 10em;
  margin-top: 30px;
}