.Header {
  text-align: center;
  color: #002663;
  margin-bottom: 1px;
}

.Footer {
  text-align: center;
}

.Tutorial {
  text-align: center;
  font-size:small;
}

.BackButton {
  margin-left: 150px;
  margin-top: 1px;
  margin-bottom: 1px;
}
