
.Header {
  text-align: center;
  color: #002663;
  font-size: 1.5em;
  margin-top: 20px;
  margin-bottom: 40px;
 font-family: 'Open Sans', sans-serif;
 font-weight: 300;
 line-height: 40px;
}

.MiniHeader{
  text-align: center;
  color: #002663;
  font-size: x-large;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  line-height: 32px;
}

.Footer {
  text-align: center;
  margin-top: 30px;
}

.Tutorial {
  text-align: center;
  font-size:small;
}

.BackButton {
  margin-left: 150px;
  margin-top: 1px;
  margin-bottom: 1px;
}
